@import "tailwindcss";

@font-face{
    font-family: 'Satoshi';
    src: url('/src/assets/fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}
.nav-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.filter-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.005) 0px 4px 6px -2px;
}

.card-shadow{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.logo-shadow{
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}